/*Botões*/

.btn {
  padding: 16px 24px;
  background-color: var(--Pink-10);
  color: var(--Gray-900);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: -0.48px;
  transition: all 0.5s ease;
}

.btn.white {
  background-color: var(--Gray-100);
}

.btn.lg {
  padding: 24px 24px;
  font-size: 18px;
  letter-spacing: -0.54px;
}

.btn:hover {
  background-color: var(--Pink-20);
}

.btn.white:hover {
  background-color: var(--Gray-900);
  color: var(--Gray-100);
}

/*Cards da segunda seção*/

.s2-card-section-two {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  max-width: 384px;
}

.s2-card-section-two .s2-card-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s2-card-section-two .s2-card-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.s2-card-section-two .s2-card-info p {
  color: var(--Gray-600);
}

.s3-card-section-three {
  padding: 24px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  background-color: rgba(255, 255, 255, 0.02);
}

.s3-card-section-three .s3-card-tag {
  color: var(--Gray-100);
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%; /* 14px */
  letter-spacing: 1.26px;
  text-transform: uppercase;
  display: block-inline;
  padding: 8px 22px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
}

.s3-card-section-three .s3-car-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 64px;
}

.s3-card-section-three .s3-card-text {
  width: 100%;
  max-width: 508px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.s3-card-section-three .s3-card-text p {
  font-size: 16px;
  color: var(--Gray-600);
}
